main {
  text-align: center;
  vertical-align: center;
  line-height: 100vh
}

.game {
  text-align: center;
}

.cell{
  border: 1px solid #999;
  display: inline-block;
  font-size: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  text-align: center;
  vertical-align: middle;
  width: 1.5em;
}

.cell.flagged {
  color: blue;
}

.cell.revealed {
  background-color: #ddd;
}

.row {
  line-height: 0;
}

.message {
  margin-top: 1em;
}
;